<a href="/pages/<%=game_box.id%>" id="game" onclick="return addVist()">
  <li class="game">
    <p id="slideinfo">
      <%=game_box.name%>
    </p>
  </li>
  <%=image_tag(@game_image, alt:"text game logo")%>
</a>
