<% if @my_games.length > 0 %>
<h2><%=current_user.username%>'s Games:</h2>
<div class="my_games_list">
  <% @my_games.each do |game_box| -%>
    <%= render :partial => "pages/game_box", :object => game_box %>
  <% end %>
</div>
<% end %>
