<!-- home page/ all games page -->

<!-- shatter effect -->
<div class = "shatter2">
  <!-- home section -->
  <div id = "main" class = "home">
    <!-- content buffer -->
    <div id = "content">
      <%= render :partial => "pages/part/games"  if controller_name == "pages" %>
    </div>
    <!-- end buffer -->

    <!-- render partial - footer -->
    <%= render :partial => "pages/part/footer" if controller_name == "pages" %>

  </div>
  <!-- end home section -->
</div>
<!-- end shatter section -->
