<!-- play history -->
<div class = "play_history" id = "main">
  <!-- content buffer -->
  <div class="content" id="content">
    <h1 id="title">My Games</h1>

    <!-- put all games uploaded by user -->
    <%= render :partial => "pages/mygames" if controller_name == "pages" %>

    <!-- put all games played by user if any -->
    <% if @play_history.length > 0 %>
      <h2><%=current_user.username%>'s Play History:</h2>
      <div class="games">
        <% @play_history.each do |game_box| -%>
          <!-- render partial - game_box -->
          <%= render :partial => "pages/game_box", :object => game_box %>
        <% end %>
      </div>
    <% end %>
  </div>
  <!-- end content buffer -->

  <!-- render partial - footer -->
  <%= render :partial => "pages/footer" if controller_name == "pages" %>
</div>
<!-- end play history  -->
