//////shatter animation
@keyframes shatterBackground {
  0% {
    background-image: none;
  }
  50%{
    background-image: none;
  }
  100% {
    background-image: image-url('shattered-glass.png');
  }
}

////drop in animation
@keyframes fallIn {
  0% {
    opacity: 0;
    transform: translateY(-550px);
    box-shadow:
    1px 180px 10px 10px rgba(0, 0, 0, 0.6),
    1px 180px 20px 15px rgba(0, 0, 0, 0.3)
    ;
  }
  75%{
    transform: translateY(0px);
    opacity: 1;
  }
  80%{
    transform: translateY(-25px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

///break animation
@keyframes breakExpand {
  0% {height: 0%}
  50% {height: 0%}
  100% {height: 100%}
}
///break animation
@keyframes breakExpand2 {
  0% {width: 0%}
  50% {width: 0%}
  100% {width: 100%}
}
////form animation
@keyframes formExpand {
  0% {
    max-height: 0px;
    visibility: hidden;
  }
  50% {
    max-height: 0px;
    opacity: .01;
  }
  100% {
    max-height: 1000px;
    opacity:1;
  }
}

///cancel animation
@keyframes cancelFadeIn {
  0% {
    max-height: 0px;
    display: none;
    opacity: 0;
  }
  50% {
    display: none;
    max-height: 0px;
    opacity: .01;
  }
  100% {
    max-height: 1000px;
    opacity:1;
  }
}
///break animation
@keyframes breakExpandHorizontal {
  0% {width: 0%}
  50% {width: 0%}
  100% {width: 100%}
}

@keyframes tab-expand{
  0% {text-align: right; padding-right: 0; border-radius: 30px 0 0 30px;}
  24% {border-radius: 22.5px 0 0 22.5px;}
  50% {text-align: center; border-radius: 15px 0 0 15px;}
  100% {padding-right: 80px; border-radius: 0;}
}
