/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html, body{
  margin: 0;
  padding: 0;
  background-color: #fcae30;
  height: 115%;
  width: 100%;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

button{
  outline: none;
}
input:focus{
  outline: none;
}
textarea:focus{
  outline: none;
  background-color: #ed8200;
  color: white;
  border: none;
}
select:focus{
  outline: none;
  background-color: #ed8200;
  color: white;
  border: none;
}

#flex{
  display: flex;
}
#title{
  font-size: 40px;
}
#invisable{
  visibility: hidden;
  width: 0px;
  height: 0px;
}
#center{
  text-align: center;
}

/* main container */
#main{
  border-radius: 50px;
  border-bottom: solid 1px #ed8200;
  padding-top: 20px;
  padding-bottom: 0;
  margin: 50px;
  background-color: white;
  width: auto;
  overflow: hidden;
  box-shadow:
  8px 15px 10px 15px rgba(0, 0, 0, 0.1),
  6px 11px 10px 10px rgba(0, 0, 0, 0.2),
  4px 10px 10px 5px rgba(0, 0, 0, 0.3);
}

  #main footer{
    background-color: #ed8200;
    height: 50px;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 0;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto;
    grid-template-areas:
    "copyright logo";
  }
    #main footer .copyright{
      grid-area: copyright;
    }
    #main footer .footerLogo{
      grid-area: logo;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 15px;
      float: right;
      height: 45px;
      padding-right: 10px;
      margin-top: 5px;
      margin-right: 40px;
      margin-left: 100px;
      text-align: right;
    }
      #main footer .footerLogo img{
        height: 70px;
        margin-top: -10px;
      }
#content{
  margin: 20px;
}

/* notifications and alerts */

#notice{
  width: 60%;
  font-size: 30px;
}
#alert{
  font-size: 30px;
  width: 60%;
}
.notice{
  background-color: green;
  color:white;
  text-align: center;
  margin-left: 20%;
}
.alert{
  background-color: red;
  color:white;
  text-align: center;
  margin-left: 20%;
}
.title .notice{
  margin-left: -40px;
}
.title .alert{
  margin-top: -20px;
  margin-left: -40px;
}

/* iframe */
.game_screen .not_full{
  width: 95%;
  height: 95%;
  margin-top: 30px;
  min-height: 500px;
  overflow: hidden;
  border: none;
}
.game_screen .full_screen{
  margin-top: 360px;
  width: 100%;
  height: 100%;
  overflow: visible;
  position: absolute;
  top: 0px;
  left: 0px;
}
